/* a595bc light purple */
/* 5f5b7f dark purple */

.light-nav-link {
   display: block;
   padding: 0.5rem 1rem;
   font-size: 1rem;
   font-weight: 1rem;
   color: #BDBFB7;
   text-decoration: none;
   background: 0 0;
   border: 0;
}

.dark-nav-link {
   display: block;
   padding: 0.5rem 1rem;
   font-size: 1rem;
   font-weight: 1rem;
   color: #000000;
   text-decoration: none;
   background: 0 0;
   border: 0;
}

.button
{
    display: inline-block;
}

.navbar-nav{
   width: 100%;
}

@media(min-width:568px){
   .end{
       margin-left: auto;
   }
}

@media(max-width:768px){
   #post{
       width: 100%;
   }
}
#clicked{
   padding-top: 1px;
   padding-bottom: 1px;
   text-align: center;
   width: 100%;
   color: black;
   border-width: 1px;
   border-style: solid;
   border-radius: 13px; 
}

#profile{
   background-color: unset;
   
} 

#post{
   margin: 10px;
   padding: 6px;
   padding-top: 2px;
   padding-bottom: 2px;
   text-align: center;
   border-color: #ffffff;
   border-width: 1px;
   border-style: solid;
   border-radius: 5px;
   width: 50%;
}

#nav-items li a,#profile{
   text-decoration: none;
   color: rgb(224, 219, 219);
   background-color: black;
}


.comments{
   margin-top: 5%;
   margin-left: 20px;
}

.lighter{
   background: #262626;
   border-radius: 10px;
   border: 1px solid #3F3F40;
   float: left;
   padding-left: 40px;
   padding-right: 30px;
   padding-top: 10px;
}
 .lighter p, h4{
   color: white;
   font-weight: 600;
 }
 .lighter h6{
   font-size: 15px;
   cursor: pointer;
   color: #BDBFB7
 }

#align-form{
   margin-top: 20px;
}
.form-group p a{
   color: white;
}

#checkbx{
   background-color: rgb(161, 161, 161);
}

#darker img{
   margin-right: 15px;
   position: static;
}

.formm-group textarea{
   background-color: #ffffff;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 12px;
}

form{
   border-radius: 5px;  
   padding: 20px;
}

.formm{
   background-color: #262626;
   border-radius: 10px;
   border: 1px solid #3F3F40;
   padding: 20px;
}

input {
   border: 1px solid #4c486b;
}

textarea {
   border: 1px solid #4c486b;
}

.image {
   border-radius: 10px;
}

.card-task {
   width: 100%;
   height: 125px;
   background: #262626;
   border-radius: 10px;
   border: 1px solid #3F3F40;
   margin-bottom: 16px;
 }
 
 a {
   text-decoration: none;
 }
 
 header, footer, main {
   display: flex;
   align-items: center;
 }
 
 header {
   justify-content: space-between;
   margin: 20px;
   color: #BDBFB7;
 }
 
 header a {
   font-size: 15px;
   cursor: pointer;
   color: #BDBFB7
 }

 header p {
   color: white;
   font-weight: 600;
 }
 
 main {
   justify-content: flex-start;
   margin: 20px;
 }
 
 main p {
   color: white;
   font-weight: 600;
 }
 
 main a {
   color: #BDBFB7;
   font-weight: 100;
 }
 
 footer {
   margin: 20px;
   font-size: 15px;
   gap: 5px;
 }
 
 footer a {
   color: #2CAD3D;
   font-weight: 600;
 }
 
 footer p {
   color: white;
 }

.grey-btn {
   color: #fff;
   background: #262626;
   border-color: 1px solid #3F3F40;
   padding-right: 0.75rem;
   padding-left: 0.75rem;
   padding-top: 0.375rem;
   padding-bottom: 0.375rem;
   font-size: 1rem;
   font-weight: 600;
   line-height: 1.5;
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
   display: inline-block;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   border-width: 1px solid;
   border-radius: 0.375rem;
   border: none;
}
.grey-btn:hover {
   color: #fff;
   background-color: #262626;
   border-color: #3F3F40;
}
.grey-btn:active {
   color: #fff;
   background-color: #262626;
   border-color: #3F3F40;
   box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.grey-btn:focus {
   box-shadow: #262626;
}

.light-grey-btn {
   color: #fff;
   background: #343434;
   border-color: 1px solid #3F3F40;
   padding-right: 0.75rem;
   padding-left: 0.75rem;
   padding-top: 0.375rem;
   padding-bottom: 0.375rem;
   font-size: 1rem;
   font-weight: 600;
   line-height: 1.5;
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
   display: inline-block;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   border-width: 1px solid;
   border-radius: 0.375rem;
   border: none;
}
.light-grey-btn:hover {
   color: #fff;
   background-color: #343434;
   border-color: #3F3F40;
}
.light-grey-btn:active {
   color: #fff;
   background-color: #343434;
   border-color: #3F3F40;
   box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.light-grey-btn:focus {
   box-shadow: #343434;
}

.task-row {
   display: grid;
	grid-template-columns: 624px 624px 624px;
	text-align: center;
   align-items: top;
   padding: 16px;
}
.task-column-left {
   border-radius: 12px;
   background-color: #000000;
   padding: 16px;
	margin: 5px;
   justify-content: left;
   max-height: 100%;
   align-items: center;
}

.task-column-middle {
   border-radius: 12px;
   background-color: #000000;
   padding: 16px;
   max-height: 100%;
	margin: 5px;
   justify-content: center;
}

.task-column-right {
   border-radius: 12px;
   background-color: #000000;
   padding: 16px;
	margin: 5px;
   justify-content: right;
   max-height: 100%;
}

.light-grey-outline-btn {
   border: 1px solid #3F3F40;
   background-color: white;
   color: #3F3F40;
   padding-right: 0.75rem;
   padding-left: 0.75rem;
   padding-top: 0.375rem;
   padding-bottom: 0.375rem;
   font-size: 1rem;
   cursor: pointer;
   border-radius: 0.375rem;
   text-decoration: none;
 }
 .light-grey-outline-btn:hover {
   color: #fff;
   background-color: #343434;
   border-color: #3F3F40;
}
.light-grey-outline-btn:active {
   color: #fff;
   background-color: #343434;
   border-color: #3F3F40;
   box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.light-grey-outline-btn:focus {
   box-shadow: #3F3F40;
}

.card-task-detail {
   width: 350px;
   height: 200px;
   background: #262626;
   border-radius: 10px;
   border: 1px solid #3F3F40;
   margin-bottom: 16px;
 }
 
 a {
   text-decoration: none;
 }
 
 header, footer, main {
   display: flex;
   align-items: center;
 }
 
 header {
   justify-content: space-between;
   margin: 20px;
   color: #BDBFB7;
 }
 
 header a {
   font-size: 15px;
   cursor: pointer;
   color: #BDBFB7
 }

 header p {
   color: white;
   font-weight: 600;
 }
 
 main {
   justify-content: flex-start;
   margin: 20px;
 }
 
 main p {
   color: white;
   font-weight: 600;
 }
 
 main a {
   color: #BDBFB7;
   font-weight: 100;
 }
 
 footer {
   margin: 20px;
   font-size: 15px;
   gap: 5px;
 }
 
 footer a {
   color: #ffffff;
   font-weight: 600;
 }
 
 footer p {
   color: white;
 }

.light-large-btn {
   color: #fff;
   background: #3F3F40;
   border-color: #343434;
   padding-right: 0.1rem;
   padding-left: 0.1rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   font-size: 1.25rem;
   font-weight: 400;
   line-height: 1.5;
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
   display: inline-block;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   border-radius: 0.375rem;
   width: 100%;
   border: none;
}
.light-large-btn:hover {
   color: #fff;
   background-color: #343434;
   border-color: #3F3F40;
}
.light-large-btn:active {
   color: #fff;
   background-color: #343434;
   border-color: #3F3F40;
   box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.light-large-btn:focus {
   box-shadow: #3F3F40;
}

.grey-background {
   max-height: 100%;
   width: 450px;
   background-color: #262626;
   border-radius: 10px;
   border: 1px solid #3F3F40;
   text-align: center;
}
 .formm-group {
   padding-left: 45px
 }

.light-greyy-btn {
   color: #fff;
   background: #262626;
   border-color: 1px solid #262626;
   padding: 0px;
   font-size: 1rem;
   font-weight: 600;
   line-height: 1.5;
   display: inline-block;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   border-width: 1px solid;
   border-radius: 0.375rem;
   border: none;
}
