{% extends 'base.html' %}
{% block content %}
    <div>
        <div class="container grey-background">
            <br>
            <h1 style="color: #fff;">Edit Task</h1>
            <form action="{% url 'tasks:task-list' %}" method="post">
                {% csrf_token %}
                <div class="formm-group">
                    {{ form.title }}
                    <br>
                    {{ form.description }}
                    <br>
                    {{ form.status }}
                    <br>
                    {{ form.priority }}
                    <br>
                    {{ form.due_date }}
                </div>
                <br>
                <input type="submit" class="grey-btn" value="Edit Task">
            </div>
            </form>
        </div>
{% endblock content %}