{% extends 'base.html' %}
{% block content %}
    <div>
        <div class="container grey-background">
            <br>
            <h1 style="color: #fff;">Edit comment</h1>
            <form method="post">
                {% csrf_token %}
                <div class="formm-group">
                    {{ form.content }}
                    <br>
                    {{ form.media.url }}
                </div>
                <br>
                <button type="submit" class="grey-btn">Edit comment</button>
            </form>
        </div>
    </div>
{% endblock content %}