{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <h2>Task list</h2>
    </div>
            <div class="task-row">
                <div class="task-column-left">
                  <h4 style="font-size: 600; color: #fff;">To do</h4>
                  {% for task in tasks %}
                  {% if task.status == "to_do" %}
                  <section class="card-task">
                    <header>
                      <p>{{ task.title }}</p>
                      <a href="{% url 'tasks:task-detail' task.pk %}">Details</a>
                    </header>
                  </section>
                  {% endif %}
                  {% endfor %}
                  <a href="{% url 'tasks:task-create' %}" class="grey-btn">Add Task</a>
                </div>
                <div class="task-column-middle">
                  <h4 style="font-size: 600; color: #fff;">In Progress</h4>
                  {% for task in tasks %}
                  {% if task.status == "in_progress" %}
                  <section class="card-task">
                    <header>
                      <p>{{ task.title }}</p>
                      <a href="{% url 'tasks:task-detail' task.pk %}">Details</a>
                    </header>
                  </section>
                  {% endif %}
                  {% endfor %}
                  <a href="{% url 'tasks:task-create' %}" class="grey-btn">Add Task</a>
                </div>
                <div class="task-column-right">
                  <h4 style="font-size: 600; color: #fff;">Done</h4>
                  {% for task in tasks %}
                  {% if task.status == "done" %}
                  <section class="card-task">
                    <header>
                      <p>{{ task.title }}</p>
                      <a href="{% url 'tasks:task-detail' task.pk %}">Details</a>
                    </header>
                  </section>
                  {% endif %}
                  {% endfor %}
                  <div class="container">
                    <a href="{% url 'tasks:task-create' %}" class="grey-btn">Add Task</a>
                  </div>
              </div>
        </ul>
{% endblock %}