{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ task.title }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.due_date }}</h6>
              <p class="card-text">{{ task.description }}</p>
              {% if task.priority == "low" %}
              <span class="badge text-bg-secondary">{{ task.priority }}</span>
              {% elif task.status == "medium" %}
              <span class="badge text-bg-primary">{{ task.priority }}</span>
              {% elif task.status == "high" %}
              <span class="badge text-bg-warning">{{ task.priority }}</span>
              {% else %}
              <span class="badge text-bg-danger">{{ task.priority }}</span>
              {% endif %}
              {% if task.status == "to_do" %}
              <span class="badge text-bg-warning">{{ task.status }}</span>
              {% elif task.status == "in_progress" %}
              <span class="badge text-bg-secondary">{{ task.status }}</span>
              {% elif task.status == "done" %}  
              <span class="badge text-bg-success">{{ task.status }}</span>
              {% else %}
              <span class="badge text-bg-dark">{{ task.status }}</span>
              {% endif %}
              <br>
              <br>
              <a href="{% url 'tasks:task-update' task.id %}" class="btn btn-warning card-link">Редагувати</a>
              <a href="{% url 'tasks:task-delete' task.id %}" class="btn btn-danger card-link">Видалити</a>
            </div>
          </div>
    <!-- Коментарі -->
    <div class="comments mt-4">
        <h3>Коментарі</h3>
        {% for comment in task.comments.all %}
            <div class="comment mb-2">
                <p>{{ comment.content }}</p>
                <small>Автор: {{ comment.author.username }}</small>
            </div>
        {% empty %}
            <p>Коментарі відсутні.</p>
        {% endfor %}
    </div>

    <!-- Форма додавання коментаря -->
    <div class="add-comment mt-4">
        <h4>Додати коментар</h4>
        <form action="{% url 'tasks:task-detail' task.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary">Відправити</button>
        </form>
    </div>
{% endblock content %}